/__pycache__/Adafruit_LCD1602.cpython-35.pyc
/__pycache__/Adafruit_LCD1602.cpython-37.pyc
/__pycache__/Blink.cpython-37.pyc
/__pycache__/PCF8574.cpython-37.pyc
/__pycache__/PCF8574.cpython-35.pyc
/__pycache__/LCD.cpython-37.pyc
/__pycache__/LCD.cpython-35.pyc
/__pycache__/Freenove_DHT.cpython-37.pyc
/__pycache__/Freenove_DHT.cpython-35.pyc
/__pycache__/Blink.cpython-35.pyc
